
/*Estilos para la interfaz*/
    body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, Arial, sans-serif;
        color: white;
        background: url(https://img4.goodfon.com/wallpaper/nbig/1/f8/8bit-8bit-grafika-les-retro-fon-pikseli-pxl.jpg);
        font-size: 1em;
        line-height: 1.5em;
        padding-top: 60px;
    }

    h1{
        font-family: 'Press Start 2P', cursive;
        font-size: 2.3em;
        line-height: 1.3em;
        margin: 15px 0;
        text-align: center;
        font-weight: 300;
    }

    article{
        padding: 85px; 
     }

    p{
        margin: 0 0 1.5em 0;
    }

    #boton {
        border: 1px solid #D3D3D3;
        padding: 8px;
    }

    #cont {
        border: 1px solid #D3D3D3;
        padding: 8px;
        margin-left: 8px;
        margin-right: 8px;
    }

    #restriccion {
        margin-left: 5%;
    }

    label {
        font-family: cursive;
        font-size: 13px;
    }
